@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --color-white: #ffffff;
  --color-black: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@layer components {

  .button-primary-1 {
    @apply border-2 px-4 py-2 rounded-xl font-poppins cursor-pointer;
  }

  .button-primary-2 {
    @apply cursor-pointer font-poppins text-[var(--color-black)] border-2 border-[var(--color-white)] px-4 py-2 rounded-xl bg-[var(--color-white)];
  }


}